lamp:
  nginx:
    ip: 127.0.0.1      # 正式环境需要将该ip设置成nginx对应的 公网ip
    port: 10000
  cache:
    type: REDIS
  redis:
    ip: 127.0.0.1
    port: 6379
    password:
    database: 0
  rabbitmq:
    enabled: false
    ip: 127.0.0.1
    port: 5672
    username: zuihou
    password: zuihou
  mysql:
    ip: 127.0.0.1
    port: 3307
    driverClassName: com.mysql.cj.jdbc.Driver
    database: lamp_activiti
    username: root
    password: 123456
    url: jdbc:mysql://${lamp.mysql.ip}:${lamp.mysql.port}/${lamp.mysql.database}?serverTimezone=Asia/Shanghai&characterEncoding=utf8&useUnicode=true&useSSL=false&autoReconnect=true&zeroDateTimeBehavior=convertToNull&allowMultiQueries=true&nullCatalogMeansCurrent=true
management:
  endpoint:
    liquibase:
      cache:
        time-to-live:
      enabled:
    logfile:
      cache:
        time-to-live:

moonlight:
  click-house:
    jdbc-url: jdbc:clickhouse://localhost:8125/moonlight?autoReconnect=true&useUnicode=true&characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull&useSSL=false
    username: moonlight
    password: moonlight
    driver-class-name: ru.yandex.clickhouse.ClickHouseDriver

logging:
  level:
    com.knightboost.moonlight.apm.chdao: debug